@{
    ViewData["Title"] = "Music Shop";
}

<div class="text-center">
    <h1 class="display-4">Music Shop</h1>
    <p>Check out the latest music here</p>
    <img src="images\ozzyosbourne.jpg" height="320" width="480" asp-append-version="true" />

    <form method="get">
        <label for="genreDropdown">Select Genre:</label>
        <select id="genreDropdown" name="selectedGenre">
            <option value="">All Genres</option>
            <option value="hip-hop">Hip-Hop</option>
            <option value="rap">Rap</option>
            <option value="country">Country</option>
            <option value="r&b">R&B</option>
            <option value="pop">Pop</option>
            <option value="jazz">Jazz</option>
            <option value ="rock">Rock</option>
        </select>

        <label for="artistDropdown">Select Artist:</label>
        <select id="artistDropdown" name="selectedArtist">
            <option value="na">None Selected</option>
            @{
                List<string> previous = new List<string>(ViewData.Count);
                // Add artists from genre filter and remove duplicate artist names
                foreach (var song in ViewData["FilteredSongs"] as List<Music>)
                {  
                    bool item = false;
                    foreach (string element in previous)
                    {
                        if (element.Equals(song.Perfomer))
                        {
                            item = true;
                        }
                    }
                    if (!item)
                    {
                        <option value=@song.Perfomer>@song.Perfomer</option>
                        previous.Add(song.Perfomer);
                    }
                }
            }
        </select>

        <button type="submit">Filter</button>
    </form>

    <!-- Display songs based on the selected genre -->
    <div class="row">
        @foreach (var song in ViewData["FilteredSongs"] as List<Music>)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@song.SongTitle</h5>
                        <p class="card-text">@song.Perfomer</p>
                        <p class="card-text">@song.Genre</p>
                        <p class="card-text">@song.Price.ToString("C")</p>
                        <a href="@Url.Action("AddToCart", new { id = song.MusicId })" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>