@model IEnumerable<Music_Shop.Controllers.CartItem>

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>Song Title</th>
            <th>Performer</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SongTitle</td>
                
                <td>@item.Perfomer</td>

                <td>@item.Price.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
<a>
    Total Price in Cart:
</a>
@{
        double total = 0;
        foreach (var item in Model)
        {
            total = total + item.Price;
        }
    <a>@total.ToString("C")</a>
    }
    <br />
<a href="@Url.Action("Index", "Purchase")" class="btn btn-primary">Purchase</a>
